body {
    background-image: linear-gradient(120deg,blue,red,green);
    min-height: 100vh;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

#game-container {
    margin: 5rem auto 0;
    height: min(50vh,450px);
    width: min(50%,450px);
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-rows: repeat(3, calc(100%/3));
    position: relative;
}


.cells:nth-child(3n + 2) {
    border-right: black solid 1px;
    border-left: black solid 1px;
}

.cells:nth-child(-n + 6) {
    border-bottom: black solid 1px;
}

.cells {
    display: grid;
    place-items: center;
    font-size: 3rem;
}

.game-over {
    position: absolute;
    background-color: rgba(0, 255, 255, 0.3);
    box-shadow: 0 1px 2px 3px rgba(0, 255, 255, 0.6) ;
    min-height: 100%;
    min-width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.winner {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.play-again {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: aqua;
    padding: 0.8rem 2.5rem;
    border-radius: 1rem;
    border: 2px solid #0e7490;
}

.play-again:hover {
    cursor: pointer;
    background-color: rgb(0, 115, 115);
}

.blur {
    filter: blur(2px);
}

.flex {
    display: flex;
}